<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de usuario</title>
</head>
<body>
<h1>Crear usuario</h1>
<form th:action="@{/usuarios/guardar}" th:object="${usuario}" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" th:field="*{nombre}" id="nombre" /><br/>

    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email" /><br/>

    <button type="submit">Guardar</button>
</form>
</body>
</html>